html
  head
    title Add Medicine Form
    link(rel='stylesheet', href='/styles/add-medicine.css')

  body
    .container
      form.add-medicine-form(action='/medicines', method='POST')
        h2 Add New Medicine
        label(for='name') Name
        input#name(type='text', name='name', placeholder='Enter name', required)
        label(for='email') DistributorEmail
        input#email(type='email', name='email', placeholder='Enter Distributor email', required )
        label(for='address') DistributorAddress
        input#address(type='text', name='address', placeholder='Enter Distributor address', required)
        label(for='variety') Variety
        input#type(type='text', name='variety', placeholder='Enter variety', required)
        button(type='submit') Add Medicine